---
const { icon, text, page } = Astro.props
---

<h2 class="text-#7C7C8A flex items-center gap-2 p-2" aria-hidden="true">
  <i class="text-7" class:list={icon} :class={`page == ${page} && 'text-#633BBC'`} x-show={`page <= ${page}`}> </i>
  <i class="text-7 text-#1D8841 ph-check-circle-fill" x-show={`page > ${page}`}></i>

  <span class="hidden font-bold sm:block" :class={`page >= ${page} && 'text-#323238'`}>{text}</span>
</h2>
